$checkBoxImgURL: '../img/checkmark-outline.svg';

$brightestColor: #fff; 
$mainColor: rgba(37,46,66,1);

$notActiveColor: #4F5565;
$checkBoxHoverColor: rgba(255, 132, 105, 0.2);

$darkMainColor: #414B62;
$primaryColor: #FF8469;
$primaryBtnHoverColor: #D95133;

$cardOneGradientTop: #31394D;
$cardOneGradientBottom: #091739;
$cardTwoGradientTop: $notActiveColor;
$cardTwoGradientBottom: #000000;