
<div class="card">
    <div class="card__inner">
        <div class="card__content">
            <div class="card__top">
                <h2 class="title card__title">
                    Todo List
                </h2>
        
                <button class="text button card__button">
                    add
                </button>
            </div>
            <div class="card__body">
                <ul class="card__list">
                    @@include('./components/list-item.html',
                    {
                        'class-list-item':'card__list-item',
                        'id-ckeckbox':'checkbox-first',
                        'class-checkbox-text':'card__checkbox-text',
                        'class-checkbox-about':'card__checkbox-about',
                        'text':'delectus aut autem',
                        'about':'laboriosam mollitia et enim quasi adipisci quia provident illum',
                    })
    
                    @@include('./components/list-item.html',
                    {
                        'class-list-item':'card__list-item',
                        'id-ckeckbox':'checkbox-second',
                        'class-checkbox-text':'card__checkbox-text',
                        'class-checkbox-about':'card__checkbox-about display--none',
                        'text':'delectus aut autem',
                        'about':'',
                    })
    
                    @@include('./components/list-item.html',
                    {
                        'class-list-item':'card__list-item',
                        'id-ckeckbox':'checkbox-third',
                        'class-checkbox-text':'card__checkbox-text',
                        'class-checkbox-about':'card__checkbox-about',
                        'text':'laboriosam mollitia et enim quasi adipisci quia provident illum',
                        'about':'',
                    })
    
                    @@include('./components/list-item.html',
                    {
                        'class-list-item':'card__list-item',
                        'id-ckeckbox':'checkbox-fourth',
                        'class-checkbox-text':'card__checkbox-text',
                        'class-checkbox-about':'card__checkbox-about',
                        'text':'repellendus sunt dolores architecto voluptatum',
                        'about':'accusamus eos facilis sint et aut voluptatem',
                    })
    
                    @@include('./components/list-item.html',
                    {
                        'class-list-item':'card__list-item',
                        'id-ckeckbox':'checkbox-fiveth',
                        'class-checkbox-text':'card__checkbox-text',
                        'class-checkbox-about':'card__checkbox-about',
                        'text':'repellendus sunt dolores architecto voluptatum',
                        'about':'accusamus eos facilis sint et aut voluptatem',
                    })
    
                    @@include('./components/list-item.html',
                    {
                        'class-list-item':'card__list-item',
                        'id-ckeckbox':'checkbox-sixth',
                        'class-checkbox-text':'card__checkbox-text',
                        'class-checkbox-about':'card__checkbox-about',
                        'text':'repellendus sunt dolores architecto voluptatum',
                        'about':'accusamus eos facilis sint et aut voluptatem',
                    })
    
                    @@include('./components/list-item.html',
                    {
                        'class-list-item':'card__list-item',
                        'id-ckeckbox':'checkbox-seventh',
                        'class-checkbox-text':'card__checkbox-text',
                        'class-checkbox-about':'card__checkbox-about',
                        'text':'repellendus sunt dolores architecto voluptatum',
                        'about':'accusamus eos facilis sint et aut voluptatem',
                    })
    
                    @@include('./components/list-item.html',
                    {
                        'class-list-item':'card__list-item',
                        'id-ckeckbox':'checkbox-eighth',
                        'class-checkbox-text':'card__checkbox-text',
                        'class-checkbox-about':'card__checkbox-about',
                        'text':'repellendus sunt dolores architecto voluptatum',
                        'about':'accusamus eos facilis sint et aut voluptatem',
                    })
    
                    @@include('./components/list-item.html',
                    {
                        'class-list-item':'card__list-item',
                        'id-ckeckbox':'checkbox-nineth',
                        'class-checkbox-text':'card__checkbox-text',
                        'class-checkbox-about':'card__checkbox-about',
                        'text':'repellendus sunt dolores architecto voluptatum',
                        'about':'accusamus eos facilis sint et aut voluptatem',
                    })
    
                    @@include('./components/list-item.html',
                    {
                        'class-list-item':'card__list-item',
                        'id-ckeckbox':'checkbox-tenth',
                        'class-checkbox-text':'card__checkbox-text',
                        'class-checkbox-about':'card__checkbox-about',
                        'text':'repellendus sunt dolores architecto voluptatum',
                        'about':'accusamus eos facilis sint et aut voluptatem',
                    })
    
                    @@include('./components/list-item.html',
                    {
                        'class-list-item':'card__list-item',
                        'id-ckeckbox':'checkbox-eleventh',
                        'class-checkbox-text':'card__checkbox-text',
                        'class-checkbox-about':'card__checkbox-about',
                        'text':'repellendus sunt dolores architecto voluptatum',
                        'about':'accusamus eos facilis sint et aut voluptatem',
                    })
                </ul>
            </div>   
        </div>
    </div>
</div>
