<li class="list-item @@class-list-item">
    <input type="checkbox" id="@@id-ckeckbox" class="checkbox  list-item__checkbox" name="confirm" value="yes">
        <label for="@@id-ckeckbox" class="checkbox__label">
            <div class="checkbox__label-column">
                <span class="text checkbox__text">
                    @@text
                </span>
                <span class="text checkbox__about">
                    @@about
                </span>       
            </div>
    </label>
</li>